/* key notes
background colors 
and paddings should be decided */
* {
  padding: 0%;
  margin: 0%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

a {
  text-decoration: none;
}

/* navbar  */
header {
  padding: 0.5rem;
  background-color: #478ccf;
}

nav {
  background-color: #478ccf;
  padding: 1rem 3rem;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
}
nav a {
  color: white;
}

nav a:hover {
  border-radius: 3px;
  padding: 0.3rem;
  background-color: #4535c1;
}

/* footer */
footer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  height: 10rem;
  background-color: #478ccf;
}

footer > ul {
  display: flex;
  justify-content: center;
  gap: 3rem;
  width: 100vw;
}

.icon {
  height: 2rem;
  width: 2rem;
}

.icon:hover {
  filter: invert(100%) sepia(0%) saturate(7472%) hue-rotate(106deg)
    brightness(92%) contrast(120%);
}

/* home page */

#profile {
  display: flex;
  padding: 10vh 15vw;
  justify-content: space-between;
  align-items: center;
  gap: 10vw;
}

.profile-img {
  /* height: 20rem;
  width: 20rem; */
  height: 25vw;
  width: 25vw;
  border-radius: 50%;
}

#name {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 0.2rem;
}

/* latest-projects */
#latest-projects {
  padding: 10vh 15vw;
  background-color: #77e4c8;
}

#latest-projects > h2 {
  margin-bottom: 2rem;
}

.project-list {
  display: flex;
  gap: 10vw;
}

.project {
  width: 30vw;
}

.project-img {
  width: 30vw;
  height: 35vh;
}

.project-title {
  padding: 0.5rem 0;
  font-size: medium;
  font-weight: 300;
  text-decoration: underline;
}

.project-description {
  padding-bottom: 1rem;
}

.project-link {
  background-color: #4535c1;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}
/* Latest Blogs */

#latest-blogs {
  padding: 10vh 15vw;
}

#latest-blogs > h2 {
  margin-bottom: 2rem;
}

.blog-list {
  display: flex;
  gap: 10vw;
}
.blog {
  width: 30vw;
  background-color: #77e4c8;
  padding: 1rem;
  border-radius: 5px;
}

.blog-title {
  font-weight: 400;
}

.blog-overview {
  padding-bottom: 1rem;
}

.blog-link {
  background-color: #4535c1;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}
