/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Enable dark mode */
@layer base {
  html {
    background-color: white;
  }

  .dark {
    background-color: #1a202c;
    color: white;
  }
}

/* Right-to-left animation for the skills icons */
@layer utilities {
  .animate-right-to-left {
    animation: slideInRight 0.5s ease-out;
  }

  @keyframes slideInRight {
    0% {
      transform: translateX(-100%); /* Start off-screen to the left */
      opacity: 0;
    }
    100% {
      transform: translateX(0); /* End at its original position */
      opacity: 1;
    }
  }
}
